.footer-container {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
}

.footer-line {
  width: 100%;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.2);
  margin-bottom: 1rem;
}

.footer-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
  text-align: center;
  margin: 5px;
}

.footer-button {
  padding: 10px 20px;
  border: none;
  font-family: "Google Sans Regular";
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.footer-button:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
